-e git+https://github.com/surfly/gevent.git#egg=gevent-dev
-e git+https://github.com/mahmoud/wapiti.git#egg=wapiti

cssselect>=0.7.1
lxml>=3.0
pyquery>=1.2.1
python-dateutil>=2.1
greenlet>=0.4.0
psutil>=0.6.0
