<html>
<head>
  <title>WOMP: Wikimedia Open Metrics Platform</title>
  <link rel="stylesheet" href="/static/css/normalize.css" />
  <link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
  <script src="/static/js/less-1.3.0.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery-1.8.1.min.js" type="text/javascript"></script>
  <script src="/static/js/dashboard.js" type="text/javascript"></script>
</head>
<body>
<h1>WOMP Article lists</h1>
<table id="in-prog-table">
    <thead>
        <th>name</th>
        <th>articles (unresolved)</th>
        <th>actions</th>
        <th>date</th>
        <th>...</th>
    </thead>
    <tbody>
    % for list_data in article_lists:
        <tr>
            <td>${list_data['name']}</td>
            % if list_data['unresolved']:
                <td>${list_data['total']} (${list_data['unresolved']})</td>
            % else:
                <td>${list_data['total']}</td>
            % endif
            <td>${list_data['actions']}</td>
            <td>${list_data['date']}</td>
            <td>Gather data</td>
        </tr>
    % endfor
</ul>
