<%
    completion = str(round(complete_count / float(total_articles), 4) * 100) + '%'
%>

<html>
<head>
  <title>WOMP: Wikipedia Open Metrics Platform</title>
  <link rel="stylesheet" href="/static/css/normalize.css" />
  <link rel="stylesheet/less" type="text/css" href="/static/css/style.less">
  <script src="/static/js/less-1.3.0.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery-1.8.1.min.js" type="text/javascript"></script>
  <script src="/static/js/dashboard.js" type="text/javascript"></script>
</head>
<body>
<h1>WOMP Dashboard</h1>
<p><input id="autorefresh" name="autorefresh" type="checkbox" /> <label for="autorefresh">Auto-update</label></p>
<div id="content">
<h2>Summary</h2>
% if total_articles:
    <p class="infos">Currently <span class="info">${completion}</span> complete.</p>
% endif

% if in_progress:
<h2>Articles in Progress</h2>
<p class="infos">There are <span class="info">${in_progress_count} fetch tasks</span> in progress.</p>
<table id="in-prog-table">
    <thead>
        <th>#</th>
        <th>Article</th>
        <th>Total</th>
        % for i_name in input_classes:
        <th>${i_name}</th>
        % endfor
    </thead>
    <tbody>
    % for status in sorted(in_progress, key=lambda s: s['order']):
        <tr>
            <td>${status['order']}</td>
            <td class='label'>${status['title']}</td>
            <td>${round(status['durations']['total'], 1)}</td>
            % for i_name in input_classes:
            <%
                in_duration = status['durations'].get(order, {}).get('total', 0.0)
                in_status = status['inputs'][i_name]
                in_attempts = in_status['attempts']
                in_success = in_status['is_successful']
                in_complete = in_status['is_complete']
            %>
                % if in_success:
                <td class="input-success">
                % elif in_complete:
                <td class="input-failure">
                % elif in_attempts > 0:
                <td class="input-retried">
                % else:
                <td class="input-incomplete">
                %endif
            ${round(in_duration, 1)} (${in_attempts})</td>
            % endfor
        </tr>
    % endfor
    </tbody>
</table>
% endif
<h2>Completion</h2>
<%
    # todo: stop incrementing formatted_dur upon completion
    total = float(complete_count)
    formatted_dur = "{:.2f}".format(duration)
    if total > 0:
        sec_per_task = round(duration/total, 3)
    else:
        sec_per_task = '?'
%>

<p class="infos">We have completed <span class="info">${total} fetch tasks</span> in <span class="info">${formatted_dur}s</span> (<span class="info">${sec_per_task}</span> sec/task).</p>
% if complete_times:
<table id="inputs-table">
    <thead>
        <th>Input name</th>
        <th>Average time (max)</th>
        <th>Average fetch time</th>
        <th>Average process time</th>
        <th>Success rate</th>
    </thead>
    <tbody>
            % for i_name in input_classes:
            <%
                total_times = [t['durations'][i_name]['total'] for t in complete_times if t['durations'].get(i_name, {}).get('total')]
                fetch_times = [t['durations'][i_name]['fetch'] for t in complete_times if t['durations'].get(i_name, {}).get('fetch')]
                proc_times = [t['durations'][i_name]['process'] for t in complete_times if t['durations'].get(i_name, {}).get('process')]
                success = len([i['title'] for i in complete_times if i['inputs'].get(i_name, {}).get('is_successful')])
                if len(total_times):
                    av_total = round(sum(total_times) / len(total_times), 1)
                    max_total = round(max(total_times), 1)
                else:
                    av_total = '?'
                    max_total = '?'
                if len(fetch_times):
                    av_fetch = round(sum(fetch_times) / len(fetch_times), 1)
                else:
                    av_fetch = '?'
                if len(proc_times):
                    av_proc = round(sum(proc_times) / len(proc_times), 3)
                else:
                    av_proc = '?'
                if total:
                    success_percent = (success / total) * 100
                    success = str(round(success_percent, 0)) + '%'
            %>
            <tr>
                <td class='label'>${i_name}</td>
                <td>${av_total} (${max_total})</td>
                <td>${av_fetch}</td>
                <td>${av_proc}</td>
                <td>${success}</td>
            </tr>
            % endfor
    </tbody>
</table>
% endif
</body>
</html>
